In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.linear_model import LinearRegression
dataset = pd.read_csv('MultiLinearRegression.csv')

In [7]:
dataset.head

<bound method NDFrame.head of      Math  Physical  Chemical
0      48        68        63
1      62        81        72
2      79        80        78
3      76        83        79
4      59        64        62
..    ...       ...       ...
995    72        74        70
996    73        86        90
997    89        87        94
998    83        82        78
999    66        66        72

[1000 rows x 3 columns]>

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Math      1000 non-null   int64
 1   Physical  1000 non-null   int64
 2   Chemical  1000 non-null   int64
dtypes: int64(3)
memory usage: 23.6 KB

In [14]:
dataset.head(n=6)

   Math  Physical  Chemical
0    48        68        63
1    62        81        72
2    79        80        78
3    76        83        79
4    59        64        62
5    69        84        85